@mixin levitate($xy, $pix, $shadow, $blur) {
  -webkit-transform: translate3d($xy, $xy, $pix); 
  -moz-transform: translate3d($xy, $xy, $pix); 
  -ms-transform: translate3d($xy, $xy, $pix); 
  -o-transform: translate3d($xy, $xy, $pix); 
  transform: translate3d($xy, $xy, $pix); 
  -webkit-transition: 0.2s; 
  -moz-transition: 0.2s; 
  -ms-transition: 0.2s; 
  -o-transition: 0.2s; 
  transition: 0.2s;
  -webkit-box-shadow: $shadow $shadow $blur #444; 
  box-shadow: $shadow $shadow $blur #444; 
}