$background-color: 	#004D40;

#main-content{
	margin: 0 auto;
	max-width: 750px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 30px; 
	#post-div{
		padding: 25px;
		height: auto;
		width: auto;
		a{
			color: inherit;
			text-decoration: none;
		}
		a:hover{
			color: $background-color;
			transition: 1s; 
		}
	}
	h2{
		margin: 0;
		text-align: left;
	}
	p{
		line-height: 1.7em; 
	} 

}
@media (max-width: 800px){
	#main-content{
		margin: 40px auto;
		width: 90%;
	}
}