.container.column.heading
  h1.title ºscar <br> elizondo
  p.subtitle artisan web developer

.container.projectdashboard
  .row
    h2 front – end
  .row
    img(src="images/linum2.png", alt="").project
    img(src="images/lochkamera3.png", alt="").project
    img(src="images/ted4.png", alt="").project
    img(src="images/ted3.png", alt="").project
    img(src="images/recipeer.png", alt="").project
    img(src="images/oyj.png", alt="").project


.container.projectdashboard
  .row
    h2 back – end
  .row
    img(src="images/moato2.png", alt="").project
    img(src="images/lore.png", alt="").project

.container.projectdashboard
  .row
    h2 open source
  .row.center.vertical
    .button.skeleton sofia
    .button.skeleton andrea
    .button.skeleton gitwrap
    .button.skeleton kibo
    .button.skeleton go search
    .button.skeleton learn web
    .button.skeleton learn git
    .button.skeleton learn ruby

.container.center.footer
  h3 interested? let's have a beer, <strong>oscarmarcelo95@gmail.com</strong>
